{% extends 'registration/login.html' %} {% block login_form %}
{% if validlink %}
<div id="users-form">
  <form method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="input password">
      <label for="{{ form.new_password1.id_for_label }}">Password</label>
      <input
        type="password"
        name="new_password1"
        id="{{ form.new_password1.id_for_label }}"
        minlength="8"
        maxlength="30"
        required=""
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&+-])[A-Za-z\d@$!%*#?&+-]{8,30}$"
      />
    </div>
    <div id="register-password-result">
      <p class="password-rule">Your password must contain:</p>
      <ul class="register-password-list">
        <li>
          <p class="password-rule-2">At least one capital Letter</p>
        </li>
        <li>
          <p class="password-rule-3">At least one small caps Letter</p>
        </li>
        <li>
          <p class="password-rule-4">At least one number</p>
        </li>
        <li>
          <p class="password-rule-5">At least one special character</p>
        </li>
        <li>
          <p class="password-rule-6">Characters allowed: A-z0-9@$!%*#?&+-</p>
        </li>
        <li>
          <p class="password-rule-1">Between 8 and 30 characters</p>
        </li>
      </ul>
    </div>
    <div class="input password required">
      <label for="{{ form.new_password2.id_for_label }}">
        Confirm Password
      </label>
      <input
        type="password"
        name="new_password2"
        id="{{ form.new_password2.id_for_label }}"
        minlength="8"
        maxlength="30"
        required="required"
      />
    </div>
    <div class="submit">
      <input
        type="submit"
        id="submit"
        class="send-purple signup"
        value="Confirm"
      />
    </div>
  </form>
  <div class="both"></div>
</div>
{% else %}
<div id="register">
  <h1>
    <a href="{% url 'password_reset' %}">Invalid Link</a>
  </h1>
  <p>
    The password reset link was invalid, possibly because it has already been
    used. Please request a new password reset.
  </p>
</div>
{% endif %} {% endblock login_form %}
