{% extends 'registration/login.html' %} {% block login_form %}
<div id="users-form">
  <form method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="input email">
      <label for="{{ form.email.id_for_label }}">Email</label>
      <input
        type="email"
        name="email"
        minlength="3"
        maxlength="100"
        autofocus="autofocus"
        id="{{ form.email.id_for_label }}"
        required
      />
    </div>
    <div class="submit">
      <input type="submit" class="send-purple signup" value="Reset" />
    </div>
  </form>
  <div class="both"></div>
</div>
<div id="register">
  <h1 style="color: #662483"><b>HOW TO</b></h1>
  <p>
    Once you submit this form you will receive a
    <strong>CONFIRMATION</strong> email. Please click on the provided link to
    create new password!
  </p>
</div>
{% endblock login_form %}
